.note-container {
  width: 50%;
  height: 200px;
  position: relative;
  padding: 30px;
  border: 2px solid #00e676;
  outline: none;
  border-radius: 12px;
  background-color: #00e6761c;
}

.note-container #note-text {
  margin-left: 56px;
  font-weight: 600;
}

.note-container #note-text span {
  font-weight: 600;
  background-color: inherit;
}

.note-container #note-icon {
  position: absolute;
  top: 28px;
  left: 31px;
}

.text-and-image-container {
  display: flex;
  width: 50%;
  height: 200px;
  padding: 30px;
  position: relative;
  background-color: #F9F9FE;
  gap: 1rem;
}

.text-and-image-container .ti-text-box span {
  background-color: inherit;
  font-weight: 500;
}

.numbered-list-container {
  width: 50%;
  height: 200px;
}

.numbered-list-container .each-list {
  position: relative;
  padding: 30px;
}

.numbered-list-container .list-text {
  margin-left: 32px;
} 

.numbered-list-container .list-count {
  position: absolute;
  top: 24px;
  left: 15px;
  padding: 7px 13px;
  background-color: #43a047d9;
  color: #fff;
  border-radius: 50%;
  font-weight: 600;
}